.section-gallery {
  padding: 0;
  background-image: linear-gradient(
    to bottom,
    var(--light-pink-color-bcg),
    40%,
    var(--light-pink-color-bcg),
    30%,
    var(--white-color) 70%
  );
}

.grid {
  // height: 100%;
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(14, 20px);
  grid-template-rows: repeat(6, 20px);
  grid-gap: 4px;
  border-radius: 5px;
  position: relative;

  @media (max-width: 320px) {
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(14, 40px);
    grid-template-rows: repeat(6, 40px);
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(14, 70px);
    grid-template-rows: repeat(6, 70px);
    grid-gap: 8px;
  }
}
.grid__list {
  z-index: 1;
  display: flex;
  transition: transform 250ms var(--transition-timing);
}
.grid__list:hover,
.grid__list:focus .grid__img {
  transform: rotate(360deg) scale(1.2);

  z-index: 2;
}

.grid__list-1 {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid__list-2 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
}
.grid__list-3 {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 5;
}
.grid__list-4 {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 5;
  grid-column-end: 9;
}
.grid__list-5 {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 5;
  grid-column-end: 7;
}
.grid__list-6 {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 9;
  grid-column-end: 11;
}
.grid__list-7 {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 9;
  grid-column-end: 11;
}
.grid__list-8 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 11;
  grid-column-end: 13;
}
.grid__list-9 {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 11;
  grid-column-end: 13;
}
.grid__list-10 {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 13;
  grid-column-end: 15;
}
.grid__img {
  border-radius: 15%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// .masonry__list {
//   display: flex;
//   flex-wrap: wrap;
//   margin: 0 auto;
// }

// .masonry__thumb {
//   height: 250px;
//   width: 250px;
// }

// // .masonry__thumb {
// //   position: relative;
// // }

// .masonry__thumb:hover .masonry__img {
//   z-index: 1;
// }

// .masonry__img {
//   transition: transform 500ms;
// }

// .masonry__thumb:hover .masonry__img {
//   transform: scale(1.2);
// }

// .card {
//   perspective: 200px;
//   transform-style: preserve-3d;
//   display: flex;
//   justify-content: center;
// }

// .card__inner {
//   transition: transform 0.15s linear;
// }

// .masonry__img {
//   border-radius: 15%;
// }
// //
// .masonry__thumb img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .gread__list {
//   margin-left: auto;
//   margin-right: auto;
//   display: grid;
//   grid-template-columns: repeat(6, 1fr);
//   grid-template-rows: repeat(6, 1fr);
//   grid-gap: 4px;
//   @media screen and (min-width: 768px) {
//     grid-gap: 8px;
//     grid-template-columns: repeat(7, 1fr);
//     grid-template-rows: repeat(9, 1fr);
//   }
// }

// .gread__item {
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .gread__item:hover {
//   transform: rotate(1turn) scale(1.1);
// }

// .gread__item-1 {
//   grid-column-start: 1;
//   grid-column-end: 3;
//   grid-row-start: 3;
//   grid-row-end: 4;

//   @media screen and (min-width: 768px) {
//     grid-column-start: 1;
//     grid-column-end: 2;
//     grid-row-start: 4;
//     grid-row-end: 7;
//   }
// }

// .gread__item-2 {
//   grid-column-start: 2;
//   grid-column-end: 4;
//   grid-row-start: 2;
//   grid-row-end: 3;

//   @media screen and (min-width: 768px) {
//     grid-column-start: 2;
//     grid-column-end: 3;
//     grid-row-start: 3;
//     grid-row-end: 6;
//   }
// }

// .gread__item-3 {
//   grid-column-start: 4;
//   grid-column-end: 6;
//   grid-row-start: 2;
//   grid-row-end: 3;
//   @media screen and (min-width: 768px) {
//     grid-column-start: 2;
//     grid-column-end: 3;
//     grid-row-start: 6;
//     grid-row-end: 9;
//   }
// }

// .gread__item-4 {
//   grid-column-start: 3;
//   grid-column-end: 5;
//   grid-row-start: 1;
//   grid-row-end: 2;
//   @media screen and (min-width: 768px) {
//     grid-column-start: 3;
//     grid-column-end: 5;
//     grid-row-start: 1;
//     grid-row-end: 7;
//   }
// }

// .gread__item-5 {
//   grid-column-start: 3;
//   grid-column-end: 5;
//   grid-row-start: 3;
//   grid-row-end: 4;
//   @media screen and (min-width: 768px) {
//     grid-column-start: 3;
//     grid-column-end: 4;
//     grid-row-start: 7;
//     grid-row-end: 10;
//   }
// }

// .gread__item-6 {
//   grid-column-start: 5;
//   grid-column-end: 7;
//   grid-row-start: 3;
//   grid-row-end: 4;
//   @media screen and (min-width: 768px) {
//     grid-column-start: 5;
//     grid-column-end: 6;
//     grid-row-start: 3;
//     grid-row-end: 6;
//   }
// }

// .gread__item-7 {
//   grid-column-start: 2;
//   grid-column-end: 4;
//   grid-row-start: 4;
//   grid-row-end: 5;
//   @media screen and (min-width: 768px) {
//     grid-column-start: 5;
//     grid-column-end: 6;
//     grid-row-start: 6;
//     grid-row-end: 9;
//   }
// }

// .gread__item-8 {
//   grid-column-start: 4;
//   grid-column-end: 6;
//   grid-row-start: 4;
//   grid-row-end: 5;
//   @media screen and (min-width: 768px) {
//     grid-column-start: 6;
//     grid-column-end: 7;
//     grid-row-start: 2;
//     grid-row-end: 5;
//   }
// }

// .gread__item-9 {
//   grid-column-start: 3;
//   grid-column-end: 5;
//   grid-row-start: 5;
//   grid-row-end: 6;
//   @media screen and (min-width: 768px) {
//     grid-column-start: 6;
//     grid-column-end: 7;
//     grid-row-start: 5;
//     grid-row-end: 8;
//   }
// }

// .gread__item-10 {
//   grid-column-start: 3;
//   grid-column-end: 5;
//   grid-row-start: 6;
//   grid-row-end: 7;
//   @media screen and (min-width: 768px) {
//     grid-column-start: 7;
//     grid-column-end: 8;
//     grid-row-start: 4;
//     grid-row-end: 7;
//   }
// }
