.header {
    position: relative;

    background-color: #FFB8CA;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--accent-color);

    padding-top: 8px;
    padding-bottom: 0px;

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 0px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 37px;
        padding-bottom: 0hpx;
    }
}    

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header__open-button {
    @media screen and (min-width: 1280px) {
        display: none;
    } 

    padding: 10px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    

    // fill: #14d44e;

//     transition-property: fill;
//     transition-duration: 300ms;
//     transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

//     &:hover,
//     &:focus {
//         fill: #ffffff;
//     }
// }

    @media screen and (min-width: 768px) {
        margin-right: 32px;
    }
}

// ------------------mobile menu-----------------
.mob-menu {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--pink-color);
}

.container__mob {
    padding-left: 20px;
    padding-right: 20px;
}

.mob-menu__close-button {
    display: block;
    
    margin-left: auto;
    padding-top: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mob-menu__button {
    display: block;
    padding: 10px 50px;
    margin: 26px auto 19px auto;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    
    color: var(--accent-color);

    cursor: pointer;

    border: transparent;
    background-color: var(--white-color);
    border-radius: 22px;

    &:hover,
    &:focus {
        background-color: var(--button-white-hover);
    }
}

.mob-menu__button--arrow {
    margin-left: 15px;

    // fill: #D41443;
    // stroke: #D41443;
    // stroke-width: 2px;
}

.mob-menu__item {
    padding-top: 12px;
    padding-bottom: 12px;
}

.mob-menu__item:nth-child(2n + 1) {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #E18298;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E18298;
}

.mob-menu__link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    color: var(--white-color);

    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mob-menu__link--current {
    color: var(--accent-color);
}

// ------------------tablet menu-----------------
.navigations__tablet {
    @media screen and (max-width: 767px) {
        display: none;
    }       
}

.tablet {
    display: flex;
    align-items: center;   
    justify-content: center; 
}

.button__tablet-main {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1279px) {
        margin-left: auto;
    }    
}

.tablet-menu__button {
    display: block;
    padding: 10px 37px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    
    color: var(--accent-color);

    cursor: pointer;

    border: transparent;
    background-color: var(--white-color);
    border-radius: 22px;

    &:hover,
    &:focus {
        background-color: var(--button-white-hover);
    }
}

.tablet-menu__button--arrow {
    margin-left: 15px;
}

// ------------------desktop menu-----------------
.desktop-menu__list {
    @media screen and (max-width: 1279px) {
        display: none;
    } 

    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.desktop-menu__item:not(:last-child) {
    margin-right: 35px;
}

.desktop-menu__link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: var(--white-color);

    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.desktop-menu__link--current {
    color: var(--accent-color);
}


// ------------------hero-------------------------------
.hero {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 136px;
    padding-bottom: 158px;

    background-color: #FFB8CA;

    @media screen and (min-width: 768px) {
        padding-top: 20px;
        padding-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 60px;
        padding-bottom: 0;
    }
}

.back-circle--container {
    position: relative;        
}

.hero__back-slider {
    position: absolute;
    z-index: 1;
    
    top: -110px;
    left: 97px;
}

.hero__back-circle {
    position: absolute;
    top: -120px;
    left: 16px;
    width: 345px;
    height: 345px;
    
    background-color: var(--pink-color);
    border-radius: 50%;

    @media screen and (min-width: 768px) {
        width: 323px;
        height: 323px;
        bottom: 43px;
        left: 248px;
    }
    
    @media screen and (min-width: 1280px) {
        width: 538px;
        height: 538px;
        bottom: 85px;
        left: 475px;
    }    
}


.hero__tasty {
    @media screen and (max-width: 767px) {
        display: none;
    } 

    position: absolute;
    top: 206px;
    right: 120px;
}

.hero__title {
    position: relative;
    
    margin-bottom: 20px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--white-color);

    @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 1.14;
    }  

    @media screen and (min-width: 1280px) {
        margin-bottom: 24px;
        font-size: 38px;
        line-height: 1.16;
    }
}

.hero__title--accent {
    font-size: 48px;
    line-height: 0.96;

    text-transform: uppercase;

    color: var(--accent-color);

    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 0.91;
    } 
    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 0.90;
    }
}

.buttom-produrts__list {
    display: flex;
    align-items: center;
    
    position: relative;
    
}

.buttom-produrts__item:not(:last-child) {
    margin-right: 8px;
    
    @media screen and (min-width: 1280px) {
        margin-right: 12px;
    }
}

.buttom-produrts__link {
    display: inline-block;
    padding: 11px 23px;
    
    color: var(--white-color);
    background-color: var(--accent-color);
    border-radius: 22px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    
    align-items: center;
    text-align: center;

    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

    &:hover,
    &:focus {
        background-color: var(--button-accent-hover);
    }

    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.29;
    }
}

.link--accent {
    color: var(--accent-color);
    background-color: var(--white-color);

    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

    &:hover,
    &:focus {
        background-color: var(--button-white-hover);
    }
}

// -------------hero__network----------
.hero__network {
    @media screen and (max-width: 767px) {
        display: none;
    }
    position: absolute;
    top: 92px;
    right: 32px;

    @media screen and (min-width: 1280px) {
        top: 153px;
        right: 100px;
    }

}

.hero__network--text {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
   
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--accent-color);
    
    @media screen and (min-width: 1280px) {
        font-size: 46px;
        line-height: 1.15;
    }
}

.hero__network--textsmall {
    display: block;
    font-family: 'DM Sans';
    
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    text-transform: none;

    color: var(--white-color);

    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.29;
    }               
}

.hero__features-biomilk {
    @media screen and (max-width: 767px) {
        display: none;
    } 

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.hero__features {
    width: 114px;

    @media screen and (min-width: 1280px) {
        width: 200px;
    } 
}

.hero__features--text {
    margin-bottom: 7px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    text-align: left;

    color: var(--white-color);

    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.43;
    } 
}

.hero__features--link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;
    background-color: var(--white-color);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    &:hover,
    &:focus {
        background-color: var(--button-white-hover);
    }
}

.hero__features--arrow {
    fill: var(--accent-color);

}

