.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 8px;
    padding-bottom: 0px;

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 0px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 37px;
        padding-bottom: 0px;
    }    
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Titan One';
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--accent-color);
}    

.desktop-menu--main {
    @media screen and (max-width: 1279px) {
        display: none;
    } 
}

.desktop-menu__list {
    @media screen and (max-width: 1279px) {
        display: none;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.desktop-menu__item:not(:last-child) {
    margin-right: 35px;
}

.desktop-menu__link {
    display: block;
    position: relative;

    padding-top: 10px;
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: var(--white-color);

    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.desktop-menu__link--current {
    color: var(--accent-color);

    &::after {
        position: absolute;
        display: block;

        content: "";
        width: 100%;
        height: 2px;

        bottom: 15px;
        background-color: var(--accent-color);
        border-radius: 2px;
        opacity: 1;

        transition: opacity 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);

        // &:hover,
        // &:focus {
        //     opacity: 1;
        // }
    }
}

.header__button-open {
    @media screen and (min-width: 1280px) {
        display: none;
    } 

    margin-left: auto;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        margin-right: 32px;
    }
}

.header__button--tab-desk {
    @media screen and (max-width: 767px) {
        display: none;
    }

    display: flex;
    align-items: center;

    padding: 10px 37px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: var(--accent-color);

    cursor: pointer;

    border: transparent;
    background-color: var(--white-color);
    border-radius: 22px;

    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

    &:hover,
    &:focus {
        background-color: var(--button-white-hover);
    }
}

.header__button--arrow {
    margin-left: 15px;
}

// ------------------mobile menu-----------------
.mob-menu {
    @media screen and (min-width: 1279px) {
        display: none;
    }
    

    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--pink-color);

    overflow-y: auto;

    &.container {
        width: 78vw;
        padding-left: 20px;
        padding-right: 20px;

        @media screen and (min-width: 768px) {
        width: 40%;
        }
    }

    @media screen and (min-width: 768px) {
        width: 40%;
        
    }
}

.header__button-close {
    display: block;
    margin-bottom: 26px;
    margin-left: auto;
    margin-right: 0px;
    padding-top: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    stroke: var(--white-color);

    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    
    &:hover,
    &:focus {
        stroke: var(--accent-color);
    }
}

.mob-menu__button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 10px 50px;
    margin: 0 auto 20px auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    
    color: var(--accent-color);

    cursor: pointer;

    border: transparent;
    background-color: var(--white-color);
    border-radius: 22px;

    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

    &:hover,
    &:focus {
        background-color: var(--button-white-hover);
    }
}

.mob-menu__button--arrow {
    margin-left: 15px;
}

.mob-menu__item {
    padding-top: 12px;
    padding-bottom: 12px;
}

.mob-menu__item:nth-child(2n + 1) {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #E18298;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E18298;
}

.mob-menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    color: var(--white-color);

    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mob-menu__link--current {
    color: var(--accent-color);
}

.no-scroll {
    overflow: hidden;
}


// ------------------hero-------------------------------
.hero {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    background-color: #FFB8CA;   
}

.hero__container {
    position: relative;
    overflow: hidden;

    padding-top: 194px;
    padding-bottom: 150px;
   
    @media screen and (min-width: 768px) {
        padding-top: 102px;
        padding-bottom: 13px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 147px;
        padding-bottom: 60px;
    }       
}




.hero__main {
    display: flex;
    justify-content: space-between;
}






.hero__back-circle {
    position: absolute;
    top: 80px;
    left: 35px;
    width: 345px;
    height: 345px;

    background-color: var(--pink-color);
    border-radius: 50%;

    @media screen and (min-width: 768px) {
        width: 323px;
        height: 323px;
        top: 30px;
        left: 230px;
    }

    @media screen and (min-width: 1280px) {
        width: 538px;
        height: 538px;
        top: 50px;
        left: 510px;
    }
}

.hero__title {
    position: relative;
    z-index: 4;

    margin-bottom: 20px;

    font-family: 'Titan One';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--white-color);

    @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 1.14;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 24px;
        font-size: 38px;
        line-height: 1.16;
    }
}

.hero__title--accent {
    font-size: 48px;
    line-height: 0.96;

    text-transform: uppercase;

    color: var(--accent-color);

    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 0.91;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 0.90;
    }
}

.buttom-produrts__list {
    display: flex;
    align-items: center;

    position: relative;
    z-index: 4;
}

.buttom-produrts__item:not(:last-child) {
    margin-right: 8px;

    @media screen and (min-width: 1280px) {
        margin-right: 12px;
    }
}

.buttom-produrts__link {
    display: inline-block;
    padding: 7px 14px;

    color: var(--white-color);
    background-color: var(--accent-color);
    border-radius: 22px;

    font-size: 8px;
    line-height: 1.25;

    align-items: center;
    text-align: center;

    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

    &:hover,
    &:focus {
        background-color: var(--button-accent-hover);
    }

    @media screen and (min-width: 1280px) {
        padding: 11px 23px;
        font-size: 14px;
        line-height: 1.29;
    }
}

.link--accent {
    color: var(--accent-color);
    background-color: var(--white-color);

    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

    &:hover,
    &:focus {
        background-color: var(--button-white-hover);
    }
}

.hero__features-biomilk {
    @media screen and (max-width: 767px) {
        display: none;
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.hero__features {
    position: relative;
    width: 114px;

    @media screen and (min-width: 1280px) {
        width: 200px;
    }
}

.hero__features--text {
    margin-bottom: 7px;

    font-size: 8px;
    line-height: 1.5;
    text-align: left;

    color: var(--white-color);

    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.43;
    }
}

.hero__features--link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;
    background-color: var(--white-color);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition-delay: 0;

    &:hover,
    &:focus {
        background-color: var(--button-white-hover);
    }
}

.hero__features--arrow {
    fill: var(--accent-color);

}

.hero__back-slider--icecream {
    position: absolute;
    top: 92px;
    left: 117px;

    animation: bigEntrance 4000ms ease-out 10ms 1 normal none;

    @keyframes bigEntrance {
        0% {
        transform: scale(0) rotate(30deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
        }
        30% {
            transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);        
            opacity: 1;
        }
        45% {
            transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
            opacity: 1;
        }
        60% {
            transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);     
            opacity: 1;
        }   
        75% {
            transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
            opacity: 1;
        }
        90% {
            transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);      
            opacity: 1;
        }   
        100% {
            transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
            opacity: 1;
        }              
    }

    @media screen and (min-width: 768px) {
        top: 80px;
        left: 305px;
    }

    @media screen and (min-width: 1280px) {
        top: 108px;
        left: 636px;
    }      
}

.hero__tasty--slider {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.hero__tasty--slider--girl {
    position: absolute;
    bottom: 0px;
    right: 32px;

    animation: slideUp 1000ms ease-in-out 10ms 1 normal none;

    @keyframes slideUp {
        0% {
        transform: translateY(100%);
        }
                  
        100% {
            transform: translateY(0%);
        }       
    }

    @media screen and (min-width: 1280px) {
        right: 16px;
    } 
}

.hero__network {
    @media screen and (max-width: 767px) {
        display: none;
    }
    
    padding-right: 9px;

    @media screen and (min-width: 1280px) {
        padding-right: 12px;
    } 
}

.hero__network--item {
    position: relative;
    z-index: 1;
}
.hero__network--item:not(:last-child) {
    margin-bottom: 15px;
}

.hero__network--text {
    display: block;

    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    text-transform: none;

    color: var(--white-color);

    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.29;
    }   
}

.hero__network--text-accent {
    display: block;
    
    // z-index: 2;
    font-family: 'Titan One';
    font-size: 28px;
    line-height: 1.14;
   
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--accent-color);
    
    @media screen and (min-width: 1280px) {
        font-size: 46px;
        line-height: 1.15;
    } 
    
    
        &::after {
            z-index: -1;
            position: absolute;
            top: -1px;
            right: -9px;

            content: "";
            width: 16px;
            height: 16px;

            background-color: var(--white-color);
            border-radius: 50%;
            transform: matrix(-1, 0, 0, 1, 0, 0);

            @media screen and (min-width: 1280px) {
                width: 30px;
                height: 30px;
                top: -8px;
                right: -12px;
            }
        }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

