.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  max-width: 50em;

  background-color: #ffb8ca;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button {
  position: absolute;

  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000000;
  background-color: var(--waite-color);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover .modal__icon,
  &:focus .modal__icon {
    fill: var(--accent-color);
  }
}
.modal__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  padding: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--black-text-color);
  margin-bottom: 12px;
}
.form__text-title {
  font-family: 'Titan One';
  font-weight: 500;
  font-size: 12px;
  line-height: 176%;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #d41443;

  @media screen and (min-width: 678px) {
    font-size: 14px;
    line-height: 176%;
  }
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}
.form__label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
}
.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input:focus + & {
    fill: var(--accent-color);
  }
}
.form__comment {
  display: block;
  margin-bottom: 20px;
}
.check {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

.form__text {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: var(--accent-color);
  }
}

.check__text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.03em;
  @media (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;
  }
}

.check__box-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--black-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__input:checked + .check__text .check__box-icon {
  background-color: var(--accent-color);
  border-color: transparent;
}

.check__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: #ffb8ca;
}
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  min-height: 44px;
  padding: 0px 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--accent-color);
  border-radius: 22px;
  border-color: transparent;

  background-color: var(--white-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing);
  &:hover,
  &:focus {
    background-color: var(--button-white-hover);
  }
}
