@charset "UTF-8";
/*Контейнер для хедера,
футера и секций*/
@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 321px) and (max-width: 479px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

body {
  font-family: "DM Sans", "Titan One", "Open Sans", "Helvetica Neue", sans-serif;
}

body > a {
  font-family: "DM Sans", "Titan One", "Open Sans", "Helvetica Neue", sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --white-color: #ffffff;
  --accent-color: #d41443;
  --pink-color: #ffa5ba;
  --grey-text-color: #907e82;
  --black-text-color: #000000;
  --light-pink-color-bcg: #fff5f6;
  --white-color-bcg: #e5e5e5;
  --button-accent-hover: #c7133e;
  --button-white-hover: #ecebeb;
  --transition-duration: 300ms;
  --transition-timing: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Titan One";
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__open-button {
  padding: 10px 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .header__open-button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__open-button {
    margin-right: 32px;
  }
}

.mob-menu {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--pink-color);
}

.container__mob {
  padding-left: 20px;
  padding-right: 20px;
}

.mob-menu__close-button {
  display: block;
  margin-left: auto;
  padding-top: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mob-menu__button {
  display: block;
  padding: 10px 50px;
  margin: 26px auto 19px auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-color);
  cursor: pointer;
  border: transparent;
  background-color: var(--white-color);
  border-radius: 22px;
}
.mob-menu__button:hover, .mob-menu__button:focus {
  background-color: var(--button-white-hover);
}

.mob-menu__button--arrow {
  margin-left: 15px;
}

.mob-menu__item {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mob-menu__item:nth-child(2n+1) {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E18298;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E18298;
}

.mob-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--white-color);
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__link--current {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .navigations__tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigations__tablet {
    padding-top: 32px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .navigations__tablet {
    padding-top: 37px;
    padding-bottom: 0px;
  }
}

.tablet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__tablet-main {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .button__tablet-main {
    margin-left: auto;
  }
}

.tablet-menu__button {
  display: block;
  padding: 10px 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-color);
  cursor: pointer;
  border: transparent;
  background-color: var(--white-color);
  border-radius: 22px;
}
.tablet-menu__button:hover, .tablet-menu__button:focus {
  background-color: var(--button-white-hover);
}

.tablet-menu__button--arrow {
  margin-left: 15px;
}

.desktop-menu__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1279px) {
  .desktop-menu__list {
    display: none;
  }
}

.desktop-menu__item:not(:last-child) {
  margin-right: 35px;
}

.desktop-menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--white-color);
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.desktop-menu__link:hover, .desktop-menu__link:focus {
  color: var(--accent-color);
}

.desktop-menu__link--current {
  color: var(--accent-color);
}

.hero {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFB8CA;
}

.back-circle--container {
  position: relative;
  overflow: hidden;
  padding-top: 194px;
  padding-bottom: 150px;
}
@media screen and (min-width: 768px) {
  .back-circle--container {
    padding-top: 102px;
    padding-bottom: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .back-circle--container {
    padding-top: 147px;
    padding-bottom: 60px;
  }
}

.hero__back-circle {
  position: absolute;
  top: 80px;
  left: 35px;
  width: 345px;
  height: 345px;
  background-color: var(--pink-color);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .hero__back-circle {
    width: 323px;
    height: 323px;
    top: 30px;
    left: 230px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__back-circle {
    width: 538px;
    height: 538px;
    top: 50px;
    left: 510px;
  }
}

.hero__title {
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-bottom: 24px;
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title--accent {
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .hero__title--accent {
    font-size: 34px;
    line-height: 0.91;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title--accent {
    font-size: 58px;
    line-height: 0.9;
  }
}

.buttom-produrts__list {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.buttom-produrts__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 1280px) {
  .buttom-produrts__item:not(:last-child) {
    margin-right: 12px;
  }
}

.buttom-produrts__link {
  display: inline-block;
  padding: 7px 14px;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 22px;
  font-size: 8px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.buttom-produrts__link:hover, .buttom-produrts__link:focus {
  background-color: var(--button-accent-hover);
}
@media screen and (min-width: 1280px) {
  .buttom-produrts__link {
    padding: 11px 23px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.link--accent {
  color: var(--accent-color);
  background-color: var(--white-color);
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.link--accent:hover, .link--accent:focus {
  background-color: var(--button-white-hover);
}

.hero__features-biomilk {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .hero__features-biomilk {
    display: none;
  }
}

.hero__features {
  position: relative;
  width: 114px;
}
@media screen and (min-width: 1280px) {
  .hero__features {
    width: 200px;
  }
}

.hero__features--text {
  margin-bottom: 7px;
  font-size: 8px;
  line-height: 1.5;
  text-align: left;
  color: var(--white-color);
}
@media screen and (min-width: 1280px) {
  .hero__features--text {
    font-size: 14px;
    line-height: 1.43;
  }
}

.hero__features--link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background-color: var(--white-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.hero__features--link:hover, .hero__features--link:focus {
  background-color: var(--button-white-hover);
}

.hero__features--arrow {
  fill: var(--accent-color);
}

.hero__back-slider--icecream {
  position: absolute;
  top: 92px;
  left: 117px;
  -webkit-animation: bigEntrance 4000ms ease-out 100ms 1 normal none;
          animation: bigEntrance 4000ms ease-out 100ms 1 normal none;
}
@-webkit-keyframes bigEntrance {
  0% {
    transform: scale(0) rotate(30deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  45% {
    transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  60% {
    transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  75% {
    transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  90% {
    transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}
@keyframes bigEntrance {
  0% {
    transform: scale(0) rotate(30deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  45% {
    transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  60% {
    transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  75% {
    transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  90% {
    transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .hero__back-slider--icecream {
    top: 80px;
    left: 305px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__back-slider--icecream {
    top: 108px;
    left: 636px;
  }
}

@media screen and (max-width: 767px) {
  .hero__tasty--slider {
    display: none;
  }
}

.hero__tasty--slider--girl {
  position: absolute;
  bottom: 0px;
  right: 32px;
  -webkit-animation: slideUp 1000ms ease-in-out 100ms 1 normal none;
          animation: slideUp 1000ms ease-in-out 100ms 1 normal none;
}
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media screen and (min-width: 1280px) {
  .hero__tasty--slider--girl {
    right: 16px;
  }
}

.hero__network {
  position: absolute;
  top: 92px;
  right: 32px;
}
@media screen and (max-width: 767px) {
  .hero__network {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero__network {
    top: 153px;
    right: 16px;
  }
}

.hero__network--item:not(:last-child) {
  margin-bottom: 15px;
}

.hero__network--text {
  font-family: "Titan One";
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 1280px) {
  .hero__network--text {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__network--text::after {
  z-index: -1;
  position: absolute;
  top: -2px;
  right: -8px;
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--white-color);
  border-radius: 50%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
@media screen and (min-width: 1280px) {
  .hero__network--text::after {
    width: 30px;
    height: 30px;
  }
}

.hero__network--textsmall {
  display: block;
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  text-transform: none;
  color: var(--white-color);
}
@media screen and (min-width: 1280px) {
  .hero__network--textsmall {
    font-size: 14px;
    line-height: 1.29;
  }
}

.products-section-container {
  padding-top: 80px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .products-section-container {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .products-section-container {
    padding-top: 60px;
  }
}

.products-top-text {
  margin-bottom: 15px;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;
  color: var(--pink-color);
}
@media screen and (min-width: 768px) {
  .products-top-text {
    margin-bottom: 18px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .products-top-text {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.products-title {
  margin-bottom: 148px;
  font-family: Titan One;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .products-title {
    margin-bottom: 154px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .products-title {
    margin-bottom: 258px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.products-list {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .products-list {
    margin-bottom: -140px;
  }
}
@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -16px;
  }
}
@media screen and (min-width: 1280px) {
  .products-list {
    margin-left: -32px;
  }
}

.products-item {
  position: relative;
  width: 280px;
  padding: 160px 40px 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
}
@media screen and (max-width: 768px) {
  .products-item {
    margin-bottom: 140px;
  }
}
@media screen and (min-width: 768px) {
  .products-item {
    width: calc(33.3333333333% - 16px);
    margin-left: 16px;
    padding: 118px 32px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .products-item {
    width: calc(33.3333333333% - 32px);
    margin-left: 32px;
    padding: 165px 77px 60px;
  }
}

.products-item-cream {
  background-color: #ffb8ca;
}

.products-item-cream::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  transform: translateY(-50%);
  background-image: url(../images/Products/products-mob/prod1-mob1x.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-item-cream::before {
    background-image: url(../images/Products/products-mob/prod1-mob2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .products-item-cream::before {
    width: 224px;
    height: 224px;
    transform: translateY(-67%);
    background-image: url(../images/Products/products-tab/prod1-tab1x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-item-cream::before {
    background-image: url(../images/Products/products-tab/prod1-tab2x.webp);
  }
}
@media screen and (min-width: 1280px) {
  .products-item-cream::before {
    width: 395px;
    height: 395px;
    background-image: url(../images/Products/products-dt/prod1-dt1x.webp);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-item-cream::before {
    background-image: url(../images/Products/products-dt/prod1-dt2x.webp);
  }
}

.products-item-coffee {
  background-color: #f0d1a5;
}

.products-item-coffee::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  transform: translateY(-50%);
  background-image: url(../images/Products/products-mob/prod2-mob1x.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-item-coffee::before {
    background-image: url(../images/Products/products-mob/prod2-mob2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .products-item-coffee::before {
    width: 224px;
    height: 224px;
    transform: translateY(-67%);
    background-image: url(../images/Products/products-tab/prod2-tab1x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-item-coffee::before {
    background-image: url(../images/Products/products-tab/prod2-tab2x.webp);
  }
}
@media screen and (min-width: 1280px) {
  .products-item-coffee::before {
    width: 395px;
    height: 395px;
    background-image: url(../images/Products/products-dt/prod2-dt1x.webp);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-item-coffee::before {
    background-image: url(../images/Products/products-dt/prod2-dt2x.webp);
  }
}

.products-item-milkshakes {
  background-color: #c2e297;
}

.products-item-milkshakes::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  transform: translateY(-50%);
  background-image: url(../images/Products/products-mob/prod3-mob1x.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-item-milkshakes::before {
    background-image: url(../images/Products/products-mob/prod3-mob2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .products-item-milkshakes::before {
    width: 224px;
    height: 224px;
    transform: translateY(-67%);
    background-image: url(../images/Products/products-tab/prod3-tab1x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-item-milkshakes::before {
    background-image: url(../images/Products/products-tab/prod3-tab2x.webp);
  }
}
@media screen and (min-width: 1280px) {
  .products-item-milkshakes::before {
    width: 395px;
    height: 395px;
    background-image: url(../images/Products/products-dt/prod3-dt1x.webp);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-item-milkshakes::before {
    background-image: url(../images/Products/products-dt/prod3-dt2x.webp);
  }
}

.products-item-title {
  position: relative;
  margin-bottom: 70px;
  font-family: Titan One;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 1280px) {
  .products-item-title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-item-title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -32pt;
  left: 50%;
  width: 26px;
  height: 6px;
  transform: translateX(-50%);
  background-image: url(../images/Products/products-points/products-points-1x.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-item-title::after {
    background-image: url(../images/Products/products-points/product-points-2x.webp);
  }
}

.products-text {
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .products-text {
    line-height: 1.76;
  }
}
@media screen and (min-width: 1280px) {
  .products-text {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 1.76;
  }
}

.products-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: var(--white-color);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
  cursor: pointer;
}
.products-btn:hover, .products-btn:focus {
  background-color: var(--button-white-hover);
}

.arrow {
  fill: var(--accent-color);
}

.products-description-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 80%;
  height: 42%;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  transition: 500ms opacity linear;
}
@media screen and (min-width: 768px) {
  .products-description-container {
    bottom: 110px;
  }
}
@media screen and (min-width: 1280px) {
  .products-description-container {
    height: 45%;
  }
}

.ice-container {
  background-color: #FFA5BA;
}

.coffee-container {
  background-color: #e0b982;
}

.shake-continer {
  background-color: #a6cc74;
}

.description-img {
  width: 150px;
  height: 150px;
}
@media screen and (min-width: 1280px) {
  .description-img {
    width: 220px;
    height: 220px;
  }
}

.products-description-text {
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-color);
}

.products-description-price {
  font-size: 24px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--accent-color);
}

.products-btn-cream .products-description-container {
  opacity: 0;
}

.products-btn-cream.is-open .products-description-container {
  opacity: 1;
}

.products-btn-coffee .products-description-container {
  opacity: 0;
}

.products-btn-coffee.is-open .products-description-container {
  opacity: 1;
}

.products-btn-milkshakes .products-description-container {
  opacity: 0;
}

.products-btn-milkshakes.is-open .products-description-container {
  opacity: 1;
}

.advantages {
  background-color: #fff5f6;
  padding-top: 40px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 80px;
    padding-bottom: 84px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .advantages_list {
    display: flex;
  }
}

.advantages_item:not(:first-child) {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .advantages_item:not(:first-child) {
    margin-top: 0px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages_item:not(:first-child) {
    margin-left: 106px;
  }
}
.advantages_item::before {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages_item::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages_item::before {
    margin-bottom: 40px;
  }
}
.advantages_item:nth-child(1n)::before {
  display: flex;
  content: "";
  background-image: url(/src/images/advantages/icon1.png);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
}
.advantages_item:nth-child(2n)::before {
  display: flex;
  content: "";
  background-image: url(/src/images/advantages/icon2.png);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
}
.advantages_item:nth-child(3n)::before {
  display: flex;
  content: "";
  background-image: url(/src/images/advantages/icon3.png);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
}

.advantages_name {
  font-family: "Titan One";
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages_name {
    font-size: 48px;
    line-height: 1.14;
    text-transform: none;
  }
}
@media screen and (min-width: 1280px) {
  .advantages_name {
    font-size: 58px;
    line-height: 1.137;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advantages_name {
    margin-bottom: 13px;
  }
}

.advantages_text {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
}
@media screen and (min-width: 768px) {
  .advantages_text {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1280px) {
  .advantages_text {
    font-size: 16px;
    line-height: 1.75;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-image: url(../images/Customer-Reviews/frame.svg);
  background-size: cover;
  border-radius: unset;
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.container--color {
  background-color: blue;
}

.customers-review {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}
@media screen and (min-width: 480px) {
  .customers-review {
    width: 390px;
  }
}
@media screen and (min-width: 768px) {
  .customers-review {
    width: 620px;
  }
}
@media screen and (min-width: 1280px) {
  .customers-review {
    width: 1034px;
  }
}

.customers-review__image-wrap {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .customers-review__image-wrap {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .customers-review__image-wrap {
    margin-bottom: 16px;
  }
}

.customers-review__image {
  border-radius: 50%;
}

.customers-review__wrap {
  position: relative;
  background-color: #FAFAFA;
  padding-top: 43px;
  padding-bottom: 26px;
  margin-bottom: 36px;
}
@media screen and (min-width: 768px) {
  .customers-review__wrap {
    padding-top: 37px;
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .customers-review__wrap {
    padding-top: 47px;
    padding-bottom: 39px;
  }
}

.customers-review__wrap::after {
  position: absolute;
  top: 315px;
  left: 120px;
  content: "...";
  font-size: 30px;
  letter-spacing: 10px;
  color: var(--button-accent-hover);
}
@media screen and (min-width: 480px) {
  .customers-review__wrap::after {
    top: 222px;
    left: 180px;
  }
}
@media screen and (min-width: 768px) {
  .customers-review__wrap::after {
    top: 193px;
    left: 295px;
  }
}
@media screen and (min-width: 1280px) {
  .customers-review__wrap::after {
    top: 205px;
    left: 500px;
  }
}

.customers-review__gradient {
  padding-right: 58px;
  padding-left: 65px;
  background-image: repeating-linear-gradient(to bottom, #FAFAFA, #FAFAFA 31px, #E1E1E1 31px, #E1E1E1 32px);
}
@media screen and (min-width: 480px) {
  .customers-review__gradient {
    background-image: repeating-linear-gradient(to bottom, #FAFAFA, #FAFAFA 29px, #E1E1E1 29px, #E1E1E1 30px);
  }
}
@media screen and (min-width: 768px) {
  .customers-review__gradient {
    padding-right: 55.18px;
    padding-left: 50.71px;
  }
}
@media screen and (min-width: 1280px) {
  .customers-review__gradient {
    padding-right: 142px;
    padding-left: 142px;
    background-image: repeating-linear-gradient(to bottom, #FAFAFA, #FAFAFA 27px, #E1E1E1 27px, #E1E1E1 28px);
  }
}

.customers-review__text {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--black-text-color);
}
@media screen and (min-width: 768px) {
  .customers-review__text {
    font-size: 14px;
    line-height: 2.14;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .customers-review__text {
    font-size: 16px;
    line-height: 1.88;
    margin-top: 36px;
  }
}

.customers-review__text::before {
  position: absolute;
  top: -14px;
  left: -15px;
  z-index: -1;
  content: url(../images/Customer-Reviews/quots.svg);
}
@media screen and (min-width: 480px) {
  .customers-review__text::before {
    left: -30px;
  }
}
@media screen and (min-width: 768px) {
  .customers-review__text::before {
    top: -18px;
    left: -42px;
  }
}
@media screen and (min-width: 1280px) {
  .customers-review__text::before {
    top: -15px;
    left: -36px;
  }
}

.customers-review__name {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--black-text-color);
}
@media screen and (min-width: 768px) {
  .customers-review__name {
    font-size: 16px;
    line-height: 1.88;
  }
}
@media screen and (min-width: 1280px) {
  .customers-review__name {
    font-size: 20px;
    line-height: 1.85;
  }
}

.section--background-light {
  background-image: linear-gradient(to bottom, var(--white-color) 25%, #fff5f6 25%, #fff5f6 50%);
}

@media screen and (min-width: 768px) {
  .container--padding-less {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .container--padding-less {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contacts {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    margin-bottom: 60px;
  }
}

.contacts__item {
  width: 280px;
  padding: 40px 32px;
  margin-left: auto;
  margin-right: auto;
  background: var(--white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    width: 100%;
  }
  .contacts__item:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts__title {
  display: inline-block;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: #f0d1a5;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0px 25px;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    font-size: 16px;
    margin-bottom: 32px;
    padding: 0px 15px;
  }
}

.contacts__title--background {
  background: #c2e297;
}

.contacts__text {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-text-color);
}
@media screen and (min-width: 768px) {
  .contacts__text {
    font-size: 14px;
    line-height: 166%;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__text {
    font-size: 16px;
    line-height: 183%;
  }
}
.contacts__text.contacts__text--border {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts__text.contacts__text--border {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}
.contacts__text.contacts__text--accented {
  line-height: 186%;
  letter-spacing: 0.04em;
  color: var(--black-text-color);
  margin-bottom: 8px;
}
@media screen and (min-width: 678px) and (max-width: 1279px) {
  .contacts__text.contacts__text--accented {
    margin-bottom: 12px;
  }
}

.timetable {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .timetable {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.timetable__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .timetable__item {
    margin-bottom: 12px;
  }
}

.timetable__text {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: var(--pink-color);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .timetable__text {
    font-size: 14px;
    line-height: 166%;
  }
}
@media screen and (min-width: 1280px) {
  .timetable__text {
    font-size: 16px;
    line-height: 183%;
  }
}
.timetable__text.timetable__text--accented {
  letter-spacing: 0.04em;
  color: var(--black-text-color);
}

.contacts__link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-text-color);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 14px;
    line-height: 183%;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__link {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button {
  padding: 0px 17px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .button {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .button {
    padding: 0px 30px;
  }
}
@media screen and (min-width: 1280px) {
  .button {
    padding: 0px 35px;
  }
}
.button.button--white {
  padding: 0px 32px;
}
@media screen and (min-width: 768px) {
  .button.button--white {
    padding: 0px 37px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .button.button--white {
    padding: 0px 39px;
  }
}
.button__button--arrow {
  margin-left: 14px;
}

@media screen and (max-width: 767px) {
  .contacts-button__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

footer {
  position: relative;
  background-color: var(--light-pink-color-bcg);
  padding: 8px 0 20px 0;
}
footer::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #E1E1E1;
  height: 1px;
  display: block;
  bottom: 78px;
}
@media screen and (min-width: 768px) {
  footer::after {
    bottom: 42px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    padding: 0 0 8px 0;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    padding-top: 60px;
  }
}

.footer__top-area {
  margin-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .footer__top-area {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer__top-area {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__top-area {
    margin-bottom: 68px;
  }
}

.footer__text {
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--pink-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__text {
    width: 234px;
  }
}
@media screen and (max-width: 767px) {
  .footer__text {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__text {
    width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__text {
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer__text--biger {
  margin-top: 16px;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .footer__text--biger {
    font-size: 48px;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__text--biger {
    margin-top: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__text--biger {
    font-size: 58px;
    line-height: 1.14;
  }
}

.networks-list {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
}

.networks-list__item:not(:last-child) {
  margin-right: 28px;
}
@media screen and (min-width: 768px) {
  .networks-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .networks-list__item:not(:last-child) {
    margin-right: 24px;
  }
}

.networks-list__link {
  fill: var(--pink-color);
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.networks-list__icon {
  transition: fill var(--transition-timing);
}
.networks-list__link:hover .networks-list__icon, .networks-list__link:focus .networks-list__icon {
  fill: var(--accent-color);
}

.footer__tel {
  text-align: right;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  color: var(--black-text-color);
}
@media screen and (min-width: 768px) {
  .footer__tel {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1280px) {
  .footer__tel {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.02em;
  }
}

.footer__tel-link {
  transition: fill var(--transition-timing);
  color: var(--accent-color);
}
.footer__tel-link:hover, .footer__tel-link:focus {
  color: var(--pink-color);
}

.footer__bottom-text {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--grey-text-color);
}
@media screen and (min-width: 768px) {
  .footer__bottom-text {
    display: flex;
    justify-content: center;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67), visibility 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 70vh;
  background-color: #ffb8ca;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67), background-color 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67), box-shadow 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 580px;
    height: 620px;
  }
}

.modal__button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: transparent;
  background-color: #ffb8ca;
  cursor: pointer;
}
.modal__button:hover, .modal__button:focus {
  background-color: var(--accent-color);
}

.modal__icon {
  fill: var(--white-color);
  transition: fill 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.form {
  padding: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--black-text-color);
  margin-bottom: 12px;
}

.form__text-title {
  font-family: "Titan One";
  font-weight: 500;
  font-size: 12px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #d41443;
}
@media screen and (min-width: 678px) {
  .form__text-title {
    font-size: 14px;
    line-height: 176%;
  }
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form__label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.form__input:focus {
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__comment {
  display: block;
  margin-bottom: 20px;
}

.check {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form__text {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.form__text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__text:focus {
  border-color: var(--accent-color);
}

.check__text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 3vw;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media (min-width: 380px) {
  .check__text {
    font-size: 14px;
    line-height: 1.7;
  }
}
@media (min-width: 1200px) {
  .check__text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.check__box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--black-text-color);
  border-radius: 2px;
  transition: background-color 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67), border-color 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.check__input:checked + .check__text .check__box-icon {
  background-color: var(--accent-color);
  border-color: transparent;
}

.check__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffb8ca;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  min-height: 44px;
  padding: 0px 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--accent-color);
  border-radius: 22px;
  border-color: transparent;
  background-color: var(--white-color);
  transition: background-color var(--transition-duration) var(--transition-timing);
}
.submit-button:hover, .submit-button:focus {
  background-color: var(--button-white-hover);
}

.backdrop-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67), visibility 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.backdrop-map.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop-map.is-hidden .modal-map {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.modal-map {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  background-color: #ffb8ca;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67), background-color 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67), box-shadow 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
@media screen and (min-width: 480px) {
  .modal-map {
    width: 50%;
  }
}

.modal-map__button {
  position: absolute;
  top: 8px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: transparent;
  background-color: #ffb8ca;
  cursor: pointer;
}
.modal-map__button:hover, .modal-map__button:focus {
  background-color: var(--accent-color);
}

.modal__icon {
  fill: var(--white-color);
  transition: fill 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.map-box {
  padding: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-map__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .form-map__title {
    font-size: 28px;
    line-height: 1.13;
  }
}

.map {
  width: 100%;
  height: 400px;
}

.button--pink {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  background-color: var(--accent-color);
  border-radius: 22px;
  border-color: transparent;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--white-color);
  transition: background-color var(--transition-duration) var(--transition-timing);
}
.button--pink:hover, .button--pink:focus {
  background-color: var(--button-accent-hover);
}

.button--white {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  background-color: var(--white-color);
  border-radius: 22px;
  border-color: transparent;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-color);
  transition: background-color var(--transition-duration) var(--transition-timing);
}
.button--white:hover, .button--white:focus {
  background-color: var(--button-white-hover);
}

.section {
  padding: 40px 0;
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 60px 0;
  }
}

.section__title {
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}/*# sourceMappingURL=index.css.map */