/*Контейнер для хедера,
футера и секций*/
.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  
    @media screen and (min-width: 320px) {
      width: 320px;
    }
  
    @media screen and (min-width: 321px) and (max-width: 479px) {
      width: 100%;
    }
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 1280px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
