:root {
  --white-color: #ffffff;
  --accent-color: #d41443;
  --pink-color: #ffa5ba;
  --grey-text-color: #907e82;
  --black-text-color: #000000;
  --light-pink-color-bcg: #fff5f6;
  --white-color-bcg: #e5e5e5;
  --button-accent-hover: #c7133e;
  --button-white-hover: #ecebeb;
  --transition-duration: 300ms;
  --transition-timing: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
