<section class="about" id="about">
  <div class="container">
    <p class="about__text">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__how-made">
      <picture>
        <source
          srcset="
            ./images/About/cow@1-desk.png  501w,
            ./images/About/cow@2-desk.png 1002w
          "
          media="(min-width: 1280px)"
          sizes="501px"
          type="image/png"
        />
        <source
          srcset="
            ./images/About/cow@1-tab.png 336w,
            ./images/About/cow@2-tab.png 672w
          "
          media="(min-width: 768px)"
          sizes="336px"
          type="image/png"
        />
        <source
          srcset="
            ./images/About/cow@1-mob.png 280w,
            ./images/About/cow@2-mob.png 560w
          "
          media="(min-width: 320px)"
          sizes="280px"
          type="image/png"
        />
        <img
          class="about__picture"
          src="./images/About/cow@1-mob.png"
          alt="Корова с молоком"
        />
      </picture>

      <div class="about__paragraph">
        <p class="about__top-text">
          Our success is that all products from our own eco-farms
        </p>
        <p class="about__center-text">
          Our customers can come to our eco-farms and have fun: feed our cows,
          massage them, join the process of creating dairy products, and taste
          the most delicious ice cream and dairy products.
        </p>
        <div class="about-dropdown">
          <label class="about-dropdown__title" for="dropdown"
            >Read more
            <svg class="about__icon" width="6" height="10">
              <use href="./images/symbol-defs.svg#icon-vector-pink-2"></use>
            </svg>
          </label>
          <input
            class="about-dropdown__input"
            type="checkbox"
            name="dropdown"
            id="dropdown"
          />
          <div class="about-dropdown__content">
            <p class="about-dropdown__text">
              !!!Our principled position is that we will not slaughter cows.!!!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
