<section class="advantages">
  <div class="container">
    <h2 class="advantages_title visually-hidden">Advantages</h2>
    <ul class="advantages_list list">
      <li class="advantages_item">
        <p class="advantages_name">721</p>
        <p class="advantages_text">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item">
        <p class="advantages_name">16kg</p>
        <p class="advantages_text">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item">
        <p class="advantages_name">84</p>
        <p class="advantages_text">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
