<section class="section section--background-light">
  <div class="container container--padding-less">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts__item">
        <h3 class="contacts__title">CAFE</h3>
        <p class="contacts__text contacts__text--accented">Chicago</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="timetable">
          <li class="timetable__item">
            <p class="timetable__text timetable__text--accented">
              Monday - Friday
            </p>
            <p class="timetable__text">06:00 AM - 10:00 PM</p>
          </li>
          <li class="timetable__item">
            <p class="timetable__text timetable__text--accented">
              Saturday - Sunday
            </p>
            <p class="timetable__text">08:00 AM - 16:00 PM</p>
            <ul>
              <li>
                <a class="contacts__link" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a class="contacts__link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <h3 class="contacts__title contacts__title--background">FOOD TRUCK</h3>
        <p class="contacts__text contacts__text--accented">Los Angeles</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="timetable">
          <li class="timetable__item">
            <p class="timetable__text timetable__text--accented">
              Monday - Friday
            </p>
            <p class="timetable__text">06:00 AM - 10:00 PM</p>
          </li>
          <li class="timetable__item">
            <p class="timetable__text timetable__text--accented">
              Saturday - Sunday
            </p>
            <p class="timetable__text">08:00 AM - 16:00 PM</p>
            <ul>
              <li>
                <a class="contacts__link" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a class="contacts__link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <h3 class="contacts__title">CAFE</h3>
        <p class="contacts__text contacts__text--accented">New York</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="timetable">
          <li class="timetable__item">
            <p class="timetable__text timetable__text--accented">
              Monday - Friday
            </p>
            <p class="timetable__text">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="timetable__text timetable__text--accented">
              Saturday - Sunday
            </p>
            <p class="timetable__text">08:00 AM - 16:00 PM</p>
            <ul>
              <li>
                <a class="contacts__link" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a class="contacts__link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__list">
      <li><button class="button">Our Locations</button></li>
      <li><button class="button">Franchise</button></li>
    </ul>
  </div>
</section>
