<footer id="footer">
  <div class="container container--padding-less">
    <div class="footer__top-area">
      <p class="footer__text">
        <span>homemade ice cream made </span> <br />
        <span class="footer__text--biger">with passion </span>
      </p>
      <div>
        <ul class="networks-list">
          <li class="networks-list__item">
            <a
              href="https://github.com/"
              target="_blank"
              rel="noopener noindex noffolow"
              class="networks-list__link"
              ><svg class="networks-list__icon" width="34" height="34">
                <use href="./images/symbol-defs.svg#icon-github"></use></svg></a>
          </li>
          <li class="networks-list__item">
            <a
              href="https://web.telegram.org/z/"
              target="_blank"
              rel="noopener noindex noffolow"
              class="networks-list__link"
              ><svg class="networks-list__icon" width="34" height="34">
                <use href="./images/symbol-defs.svg#icon-telegram"></use></svg></a>
          </li>
          <li class="networks-list__item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noindex noffolow"
              class="networks-list__link"
              ><svg class="networks-list__icon" width="34" height="34">
                <use href="./images/symbol-defs.svg#icon-facebook"></use></svg></a>
          </li>
        </ul>
        <p class="footer__tel">
          Feel free to contact<a
            href="tel:+610383766284"
            class="footer__tel-link"
          >
            +61 (0) 383 766 284
          </a>
        </p>
      </div>
    </div>
    <p class="footer__bottom-text">
      <span> &copy; 2022 - IceCream.</span><br />
      <span>All Rights Reserved.</span>
    </p>
  </div>
</footer>
