<section class="section-gallery">
  <div class="container container--gallery">
    <h2 class="visually-hidden">Gallery</h2>

    <div class="grid">
      <div class="grid__list grid__list-1">
        <img class="grid__img" src="images/Gallery/desk/1.jpg" alt="picture" />
      </div>
      <div class="grid__list grid__list-2">
        <img class="grid__img" src="images/Gallery/desk/2.jpg" alt="picture" />
      </div>
      <div class="grid__list grid__list-3">
        <img class="grid__img" src="images/Gallery/desk/3.jpg" alt="picture" />
      </div>
      <div class="grid__list grid__list-4">
        <img class="grid__img" src="images/Gallery/desk/4.jpg" alt="picture" />
      </div>
      <div class="grid__list grid__list-5">
        <img class="grid__img" src="images/Gallery/desk/5.jpg" alt="picture" />
      </div>
      <div class="grid__list grid__list-6">
        <img class="grid__img" src="images/Gallery/desk/6.jpg" alt="picture" />
      </div>
      <div class="grid__list grid__list-7">
        <img class="grid__img" src="images/Gallery/desk/7.jpg" alt="picture" />
      </div>
      <div class="grid__list grid__list-8">
        <img class="grid__img" src="images/Gallery/desk/8.jpg" alt="picture" />
      </div>
      <div class="grid__list grid__list-9">
        <img class="grid__img" src="images/Gallery/desk/9.jpg" alt="" />
      </div>
      <div class="grid__list grid__list-10">
        <img class="grid__img" src="images/Gallery/desk/10.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
