<!--Шапка сайта-->
<header id="header" class="header">
  <div class="container header__nav">
    <a href="#header" class="header__logo">
      <img src="./images/Hero-header/logoicecreame1280.png" alt="logo ise-cream" width="50" />
      &nbsp;&nbsp;ice cream
    </a>
    <nav class="desktop-menu--main">
      <ul class="desktop-menu__list">
        <li class="desktop-menu__item">
          <a href="#home" class="desktop-menu__link">Home</a>
        </li>
        <li class="desktop-menu__item">
          <a href="#advantages" class="desktop-menu__link">About us</a>
        </li>
        <li class="desktop-menu__item">
          <a href="#about" class="desktop-menu__link">How it’s made?</a>
        </li>
        <li class="desktop-menu__item">
          <a href="#products" class="desktop-menu__link">Our products</a>
        </li>
        <li class="desktop-menu__item">
          <a href="#contacts" class="desktop-menu__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header__button-open">
      <svg class="header__icon-button" width="20" height="12" aria-label="Переключатель мобильного меню">
        <use class="header__icon-img" href="./images/symbol-defs.svg#icon-Burger"></use>
      </svg>
    </button>
    <button type="button" class="header__button--tab-desk">Buy now
      <svg class="header__button--arrow" width="8" height="12">
        <use href="./images/symbol-defs.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu is-hidden">
    <div class="container">
      <button type="button" class="header__button-close">
        <svg class="mob-menu__icon-button" width="12" height="12" aria-label="Переключатель мобильного меню">
          <use class="mob-menu__icon-close" href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <button type="button" class="mob-menu__button">Buy now
        <svg class="mob-menu__button--arrow" width="8" height="12">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </button>
      <ul class="mob-menu__list">
        <li class="mob-menu__item">
          <a href="#home" class="mob-menu__link">Home</a>
        </li>
        <li class="mob-menu__item">
          <a href="#advantages" class="mob-menu__link">About us</a>
        </li>
        <li class="mob-menu__item">
          <a href="#about" class="mob-menu__link">How it’s made?</a>
        </li>
        <li class="mob-menu__item">
          <a href="#products" class="mob-menu__link">Our products</a>
        </li>
        <li class="mob-menu__item">
          <a href="#contacts" class="mob-menu__link">Contact</a>
        </li>
      </ul>
      
    </div>
  </div>
</header>  
<!--Уникальное содержание страницы-->
<!-- <main id=""> -->
  <!-- Блок герой-->
  <section id="home" class="hero">
    <div class="container hero__container">
      <div class="hero__main">
        <div class="hero__back-circle"></div>
        <picture class="hero__back-slider hero__back-slider--icecream">
          <source srcset="./images/Hero-header/slider-back-hero-desk-1x.png  1x,
                                        ./images/Hero-header/slider-back-hero-desk-2x.png  2x
                                        " media="(min-width:1280px)" />
          <source srcset="./images/Hero-header/slider-back-hero-tab-1x.png  1x,
                                        ./images/Hero-header/slider-back-hero-tab-2x.png  2x
                                        " media="(min-width:768px)" />
          <source srcset="./images/Hero-header/slider-back-hero-mob-1x.png  1x,
                                        ./images/Hero-header/slider-back-hero-mob-2x.png  2x
                                        " media="(min-width:320px)" />
          <img src="./images/Hero-header/slider-back-hero-mob-1x.png" alt="ice cream cones" />
        </picture>  
        <div class="hero__box--left">
          <h1 class="hero__title">ice cream <br>
          made with <br><span class="hero__title--accent">passion</span></h1>
          <ul class="buttom-produrts__list">
            <li class="buttom-produrts__item">
             <a href="#products" class="buttom-produrts__link">Products</a>
            </li>
            <li class="buttom-produrts__item">
              <a href="#about" class="buttom-produrts__link link--accent">How it’s made?</a>
            </li>
          </ul>
          <div class="hero__features-biomilk">
            <div class="hero__biomilk">
              <picture class="hero__biomilk--slider">
                <source srcset="./images/Hero-header/biomilk-desk-1x.png  1x,
                                    ./images/Hero-header/biomilk-desk-2x.png  2x
                                    " media="(min-width:1280px)" />
                <source srcset="./images/Hero-header/biomilk-tab-1x.png  1x,
                                    ./images/Hero-header/biomilk-tab-2x.png  2x
                                    " media="(min-width:768px)" />
                <img src="./images/Hero-header/biomilk-tab-1x.png" alt="bio milk" />
              </picture>
            </div>
            <div class="hero__features">
              <p class="hero__features--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et</p>
              <a href="#about" class="hero__features--link">
                <svg class="hero__features--arrow" width="10" height="8">
                  <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>  
      
        <picture>
          <source srcset="./images/Hero-header/tasty-desk-1x.png  1x,
                                  ./images/Hero-header/tasty-desk-2x.png  2x
                                  " media="(min-width:1280px)" />
          <source srcset="./images/Hero-header/tasty-tab-1x.png  1x,
                                  ./images/Hero-header/tasty-tab-2x.png  2x
                                  " media="(min-width:768px)" />
          <img class="hero__tasty--slider hero__tasty--slider--girl" src="./images/Hero-header/tasty-desk-1x.png" alt="bio milk" />
        </picture>
        <div class="hero__network">
          <ul class="hero__network--list">
            <li class="hero__network--item">
              <p class="hero__network--text">
                <span class="hero__network--text-accent">16</span>
                cafes</p>
            </li>
            <li class="hero__network--item">
              <p class="hero__network--text">
                <span class="hero__network--text-accent">23</span>
                food trucks
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>    
  </section>

