<!-- Section Products -->
<section class="products">
    <div class="container products-section-container">
        <p class="products-top-text">100% natural</p>
        <h2 id="products" class="products-title">Products</h2>
        <div class="products-container">
            <ul class="products-list">
                <li class="products-item products-item-cream">
                    <h3 class="products-item-title">Ice cream</h3>
                        <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                        <button type="button" class="products-btn products-btn-cream">
                            <svg class="arrow" width="10" height="10">
                                <use href="./images/symbol-defs.svg#icon-products-arrow"></use>
                            </svg>
                            <div class="products-description-container ice-container">
                                <img class="description-img" 
                                    srcset="./images/Products/jpg/home-pic1-mob_1x.jpg 1x,
                                            ./images/Products/jpg/home-pic1-mob_2x.jpg 2x
                                           "
                                    src="./images/Products/jpg/home-pic1-mob_1x.jpg" alt="Ice-cream 1"
                                >
                                <p class="products-description-text">Lorem 1</p>
                                <p class="products-description-price">01$</p>
                                <img  class="description-img"
                                    srcset="./images/Products/jpg/home-pic1-mob_1x.jpg 1x,
                                            ./images/Products/jpg/home-pic1-mob_2x.jpg 2x
                                           "
                                    src="./images/Products/jpg/home-pic1-mob_1x.jpg" alt="Ice-cream 2"
                                >
                                <p class="products-description-text">Lorem 2</p>
                                <p class="products-description-price">02$</p>
                                <img  class="description-img"
                                    srcset="./images/Products/jpg/home-pic1-mob_1x.jpg 1x,
                                            ./images/Products/jpg/home-pic1-mob_2x.jpg 2x
                                           "
                                    src="./images/Products/jpg/home-pic1-mob_1x.jpg" alt="Ice-cream 3"
                                >   
                                <p class="products-description-text">Lorem 3</p>
                                <p class="products-description-price">03$</p>
                            </div>
                        </button>
                </li>
                <li class="products-item products-item-coffee">
                    <h3 class="products-item-title">Ice coffee</h3>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <button type="button" class="products-btn products-btn-coffee" data-menu-button>
                        <svg class="arrow" width="10" height="10">
                            <use href="./images/symbol-defs.svg#icon-products-arrow"></use>
                        </svg>
                        <div class="products-description-container coffee-container">
                            <img class="description-img" 
                                srcset="./images/Products/jpg/home-pic2-mob_1x.jpg 1x,
                                        ./images/Products/jpg/home-pic2-mob_2x.jpg 2x
                                       "
                                src="./images/Products/jpg/home-pic2-mob_1x.jpg" alt="Coffee 1"
                            >
                            <p class="products-description-text">Lorem 1</p>
                            <p class="products-description-price">01$</p>
                            <img  class="description-img"
                                srcset="./images/Products/jpg/home-pic2-mob_1x.jpg 1x,
                                        ./images/Products/jpg/home-pic2-mob_2x.jpg 2x
                                       "
                                src="./images/Products/jpg/home-pic2-mob_1x.jpg" alt="Coffee 2"
                            >
                            <p class="products-description-text">Lorem 2</p>
                            <p class="products-description-price">02$</p>
                            <img  class="description-img"
                                srcset="./images/Products/jpg/home-pic2-mob_1x.jpg 1x,
                                        ./images/Products/jpg/home-pic2-mob_2x.jpg 2x
                                       "
                                src="./images/Products/jpg/home-pic2-mob_1x.jpg" alt="Coffee 3"
                            >   
                            <p class="products-description-text">Lorem 3</p>
                            <p class="products-description-price">03$</p>
                        </div>
                    </button>
                </li>
                <li class="products-item products-item-milkshakes">
                    <h3 class="products-item-title">Milkshakes</h3>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <button type="button" class="products-btn products-btn-milkshakes" data-menu-button>
                        <svg class="arrow" width="10" height="10">
                            <use href="./images/symbol-defs.svg#icon-products-arrow"></use>
                        </svg>
                        <div class="products-description-container shake-continer">
                            
                            <img class="description-img" 
                                srcset="./images/Products/jpg/home-pic3-mob_1x.jpg 1x,
                                        ./images/Products/jpg/home-pic3-mob_2x.jpg 2x
                                       "
                                src="./images/Products/jpg/home-pic3-mob_1x.jpg" alt="Milkshakes 1"
                            >
                            <p class="products-description-text">Lorem 1</p>
                            <p class="products-description-price">01$</p>
                            <img  class="description-img"
                                srcset="./images/Products/jpg/home-pic3-mob_1x.jpg 1x,
                                        ./images/Products/jpg/home-pic3-mob_2x.jpg 2x
                                       "
                                src="./images/Products/jpg/home-pic3-mob_1x.jpg" alt="Milkshakes 2"
                            >
                            <p class="products-description-text">Lorem 2</p>
                            <p class="products-description-price">02$</p>
                            <img  class="description-img"
                                srcset="./images/Products/jpg/home-pic3-mob_1x.jpg 1x,
                                        ./images/Products/jpg/home-pic3-mob_2x.jpg 2x
                                       "
                                src="./images/Products/jpg/home-pic3-mob_1x.jpg" alt="Milkshakes 3"
                            >   
                            <p class="products-description-text">Lorem 3</p>
                            <p class="products-description-price">03$</p>
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>